<h1>New addition</h1>

<form action="/wizard_add">
  <label for="usa">Add this:</label>
  <input id="usa" type ="text" placeholder="" name="first_num">
  <label for="korea">to this:</label>
  <input id="korea" type ="text" placeholder="" name="second_num">

  <button>Add!</button>
</form>
