<h1>Multiplication</h1>

<dl>
  <dt>First Number</dt>
  <dd><%= @first_num %> </dd>

  <dt>Second Number</dt>
  <dd><%= @second_num %> </dd>

  <dt>Result</dt>
  <dd><%= @multiply_result.to_f %> </dd>
</dl>

<a href="/multiply">Do another multiplication</a>
