<h1>New multiplication</h1>

<form action="/wizard_multiplication">
  <label for="usa">Multiply this:</label>
  <input id="usa" type ="text" placeholder="" name="first_num">
  <label for="korea">by this:</label>
  <input id="korea" type ="text" placeholder="" name="second_num">

  <button>Multiply!</button>
</form>
