<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="usa">Subtract this:</label>
  <input id="usa" type ="text" placeholder="" name="first_num">
  <label for="korea">from this:</label>
  <input id="korea" type ="text" placeholder="" name="second_num">

  <button>Subtract!</button>
</form>
